/* nav margin */
.nav {
  float: right;
  margin-right: 10px;
}

.headerLeft,
.textCenter {
  margin: 20px;
  height: 76px;
  width: 200px;
}

.background-green {
  background-color: #4aaaa5;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.mainDesign {
  color: rgb(29, 67, 65);
  font-size: 50px;
}

.textCenter {
  margin: auto;
  text-align: center;

  font-size: 30px;
}

/*page background */
body {
  background-image: url("https://i.etsystatic.com/5456592/r/il/926f85/1975030364/il_794xN.1975030364_g6n3.jpg");
}

.container {
  margin-top: 75px;
  background-color: white;
}

.body-text {
  font-size: medium;
}

.index-img {
  width: 200px;
  padding-right: 25px;
}
