/* Green backing */

#bio-container {
    width: 75%;
    margin-left: 30px;
}

.background-green {
    background-color: #107e6d3b;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
}

.background {
    margin-top: 30px;
}

.center {
    margin-left: 75px;
}

.left {
    margin-left: 30px;
}


/*Top Border*/

.accent-border {
    background-color: #005f5175;
    color: white;
    /* margin-top: 20px; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom-border {
    background-color: #005f5175;
    color: white;
    /* margin-top: 20px; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    ;
}


/*page background */

body {
    background-image: url("https://i.etsystatic.com/5456592/r/il/926f85/1975030364/il_794xN.1975030364_g6n3.jpg");
    overflow-x: hidden;
}


/* Main Content Container */

.container {
    background-color: white;
    height: auto;
}


/*Font Size */

.body-text {
    font-size: 1vw;
}


/* Image format */

.index-img {
    width: 400px;
    padding-right: 25px;
    padding-top: 5px;
}


/* Nav Background */

.navBgrnd {
    background-color: #cacaca;
}


/* Footer */

.footer-grey {
    margin: auto;
    width: 100%;
    height: 4rem;
    padding-top: 1em;
    background-color: rgb(90, 88, 88);
    color: white;
    text-align: center;
    bottom: 0;
}


/* P style */

p {
    font-size: medium;
    font-family: "Noto Sans", sans-serif;
}


/*experiment left col */

.leftCol {
    width: 50px;
    padding-left: 5px;
    padding-top: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.responsive {
    width: 100%;
    height: auto;
}
